[project]
	description = DriverControl provides an interface for testing of OOI instrument protocol drivers.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rmanoni
[access "refs/for/refs/*"]
	read = group user/rmanoni
	push = group user/rmanoni
	label-Code-Review = -2..+2 group user/rmanoni
	label-Verified = -1..+1 group user/rmanoni
	rebase = group user/rmanoni
	removeReviewer = group user/rmanoni
	submit = group user/rmanoni
[access "refs/heads/*"]
	read = group user/rmanoni
	create = group user/rmanoni
	push = +force group user/rmanoni
	pushMerge = group user/rmanoni
[access "refs/tags/*"]
	push = +force group user/rmanoni
	pushTag = group user/rmanoni
	pushSignedTag = group user/rmanoni
